
body {
  font-family: Arial, sans-serif;
  background-color: #d8f3dc;
  margin: 0;
  padding: 0;
}

.El-Bingo{
  color:blue
}

.bingo-container-init {
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #1a4570; /* Azul oscuro para títulos */
}

.player-names, .board-size, .Reset-game, .turn-counter {
  margin-top: 20px;
}

input, button {
  margin-top: 20px;
  font-weight: bold;
}

button {
  background-color: #1a4570; /* Azul oscuro para botones */
  color: white;
  border: none;
  padding: 15px 30px; 
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #15345c; /* Cambia el color al pasar el mouse sobre el botón */
}

#turnCount {
  font-size: 20px; 
}

.player-names input {
  width: 300px;
  padding: 5px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.seccion_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; 
}

.board-size,
.Reset-game,
.turn-counter {
  flex: 1;
  margin-right: 10px; 
}

table tr { 
  padding: 2px 0;
}

table td { 
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.board-size {
  display: none;
}
.table {
  border: 1px solid black;
  align-items: baseline;
  margin-bottom: 10px;
}


.bingo-game h2 {
  display: flex;
  justify-content: space-between;
  margin-top: 3 px;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 3px;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: 100px [Line1] 100px [Line2] 100px [Line3] 100px [Line4];
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 5px;
}
.bingo-container-init{
  text-align: center;
  justify-content: space-between;
  grid-column: 1 / span 4;
  grid-row: 1 / Line2; 
}